.logo
{
  width: 60px;
  height: 60px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 4px;
}
.navbar-brand
{
  padding-left: 10px;
  height: 50px;
}
.active {
  background-color: #717171;
}
.left-column1
{
  padding-top: 30px;
}
.right-column1
{
  padding-top: 30px;
}
.left-column2
{
  padding-top: 30px;
  padding-bottom: 30px;
}
.right-column2
{
  padding-top: 30px;
  padding-bottom: 30px;
}
.first-product
{
  height: 400px;
  border-style: solid;
  border-width: 4px;
  padding-top: 10px;
}
.second-product
{
  height: 400px;
  border-style: solid;
  border-width: 4px;
  padding-top: 10px;
}
.third-product
{
  height: 400px;
  border-style: solid;
  border-width: 4px;
  padding-top: 10px;
}
.fourth-product
{
  height: 400px;
  border-style: solid;
  border-width: 4px;
  padding-top: 10px;
}
.logo-img
{
  width: 25%;
  height: 25%;
  padding-left: 10px;
}
.healthkit-img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}
.ammo-img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}
.scope-img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}
.mySlides
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mySlides1
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mySlides2
{
  display: block;
  margin-left: auto;
  margin-right: auto;;
}
.mySlides3
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.footer {
  width: 100vw;
  margin-left: calc(-50vw + 50% - 8px);
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.link {
  color: black;
}
